
.container {
    margin: 0 auto;
    width: 70%;
}

body {
    font-family: 'Pangolin', cursive;
}
h1{
text-decoration: underline;

}
.Logo{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 40px;
    padding: 20px;
    border: 1px solid #b3d9ff;
}
.Container_oben{
    display: flex;
    flex-align: center;
}
.Infos_U {
    border: 2px solid #b3d9ff;
    margin: 40px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 20px;
}
.Infos_U a {
    display: block;
    margin: 3px 0 3px 0;
}
h2{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 20px;
}
.Text{
    margin: 40px;
}
.Container_mitte{
    border: 3px solid #b3d9ff;
    width: 600px;
    margin: 40px;
    padding: 20px;
}
.Ansprechpatner{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Infos_A a{
    display: block;
}

h3{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 20px;
}
.Jetzt_Bewerben{
    background-color: white;
    color: black;
    border: 2px solid #4da9ff;
    font-size: 16px;
    margin: 4px 2px;
    text-align: center;
    padding: 16px 32px;
}
.Jetzt_Bewerben a:hover{
    background-color: #f4da9ff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
h4{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 20px;
}
.fotos img {
    width: 23%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 10px;
    
}
