
/*
  Schrifart & Größe
*/
.container{
  margin: o auto;
  width:70%;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
}

/*
  Navigations Leiste
*/
header {
  font-family: sans-serif;

  background: white;
  margin: 0;
  padding: 10px 40px;

  display: flex;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
header a.brand, header nav a {
  color: black;
  text-decoration: none;
}
header a.brand {

}
header nav {
  margin-left: auto;
}
header nav a {
  border-bottom: 2px solid transparent;
}
header nav a:not(:last-child) {
  margin: 0 10px;
}
header nav a:hover, header nav a.active {
  border-bottom: 2px solid black;
}
.container{
  margin:0 auto;
  width: 70%;
}
input[type='submit'] {
  width: 100%;
  margin: 0;
  background: white;
  padding: 5px 10px;
  color: black;
  border: 2px solid #4da9ff;
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size:135%;
  margin-top:20px;
  margin-bottom:20px ;
}
input[type='submit']:hover {
  cursor: pointer;
  background-color: #4da9ff;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

