
/*
  Schrifart & Größe
*/
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
}

/*
  Navigations Leiste
*/
header {
  font-family: sans-serif;

  background: white;
  margin: 0;
  padding: 10px 40px;

  display: flex;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
header a.brand, header nav a {
  color: black;
  text-decoration: none;
}
header a.brand {

}
header nav {
  margin-left: auto;
}
header nav a {
  border-bottom: 2px solid transparent;
}
header nav a:not(:last-child) {
  margin: 0 10px;
}
header nav a:hover, header nav a.active {
  border-bottom: 2px solid black;
}
