
* {
    box-sizing: border-box;
}

.mitte {
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Pangolin', cursive;
    font-size:135%;
}

/*
    HERO - bereich ganz oben
 */
.hero {
    margin: 50px;
}
.hero_suche {
    /*
    position: relative;
    left:34%;
    right:34%;
    */
    margin:40px;
}
.hero_suche input {
    font-size:30px;
}
.zwei{
    height:300px ;
    width:200px ;
}

h1 {
   text-align: center;
    text-decoration: underline;
}
/*
button1 - Suchbutton
*/
.button1 {
    background-color: white;
    border:2px solid #4da9ff ;
    padding:4px;
}
.button1 a{
    color: black;
    margin-top:20px;
    margin-bottom:20px;

}
.button1 a i {
    font-size:30px;
}
.button1:hover {
    background-color: #4da9ff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button1 a:hover {
    color: white;
}
/*
 Button2- Button um mehr Job angebote zu laden
*/
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #4da9ff;
    padding: 12px 28px;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size:135%;
    margin-top:20px;
    margin-bottom:20px ;
}
.button2:hover {
    background-color: #4da9ff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.jobs {
    display: flex;
    flex-wrap: wrap;
}
.job {
    width: 48%;
    background:#b3d9ff;
    color: white;
    margin: 5px;
    padding: 10px;
}
/*
 footer - Bereich ganz unten
 */
footer{
    background-color:#0084ff;
    color:white;
    text-align:center;
    margin:5px;
}